html, body{
	height: 100%;
	width: 100%;
	overflow-x: auto;
	background: url(../images/trainlife.jpg) center center fixed;
	font-family: 'Abril Fatface', cursive;
}

* {
	box-sizing: border-box;
}


.jumbotron {
	text-align: center;
	font-family: 'Abril Fatface', cursive;
	color: navy;
	margin-bottom: auto;
	padding-bottom: 20px;
	padding-top: 25px;
	margin-right: 10%;
	margin-left: 10%;
	text-align: center;
	opacity: .4;
	background-color: #fff;
	margin: 0 auto;
}


label {
	color: black;
	font-size: 14px;
	margin-right: 10px;
}